body {
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}
div.screenfour-container {
  max-width: 1120px;
  // margin: 0px auto;
  // padding: 50px 20px;
  margin-left: 140px;
  margin-top: -15px;
}
div.screenfour-header {
  display: flex;
  size : 10px;
  // margin: 40px 0px;
  margin-top: 0px;
  height:  auto;
}
.outer-box {
  background-color: #E8E5DE;
  max-width: 955px;
}
.outer-box2 {
  background-color: #FFF1ED;
  max-width: 955px;
}
.outer-box3 {
  background-color: #FFF8E3;
  max-width: 975px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 10px;
}
.lowerheader {
  width: auto;
  position: sticky; /* or fixed */
  top: 0;
  z-index: 20; /* Higher than .row */
  height: 60px;
  background-color: rgb(231, 227, 227);
  margin-bottom: -20px;
}
.img1-lowerheader {
  margin-bottom: 10px;
  padding: 8px 20px;
  margin-left: 120px;
}
.header-right {
  // display: inline-block;
  width: 210px;
  height: 30px;
  position: sticky; /* or fixed */
  top: 0;
  z-index: 20; /* Higher than .row */
  border: 2px solid #b58f00;  
  padding-bottom: 5px;
  border-radius: 4px;
  margin-top: -50px;  
  margin-left: 920px;
  background-color: white;
}
.link {
  text-decoration: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  display: inline-flex;
  font-weight: normal;
  font-size: 12px;
}
.link2 {
  text-decoration: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  display: inline-flex;
  font-weight: normal;
  font-size: 10px;
}
.footer-links {
  text-decoration: none;
  color: #007bff;
  // text-decoration: underline;
  cursor: pointer;
  display: inline-flex;
  font-weight: normal;
  font-size: 12px;
}
.top-highlighted-box {
  position: relative;
  border: 4px solid rgb(222, 163, 13);
  padding: 15px;
  margin-top: 15px;
  // margin-left: 20px;
  border-radius: 5px;
  max-width: 650px;
  height: 90px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  line-height: 1.5;
  display: flex;  
}
.top-inner-highlighted-box {
  position: relative;
  border: 1px solid lightgray;
  background-color: #fffbe6;
  border-radius: 5px;
  margin-left: 160px;
  margin-top: -5px;
  // border-radius: 5px;
  max-width: 310px;
  height: 95px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  line-height: 1.5;
  // display: flex;  
}
.arrow-container {
  position: relative;
  width: 0;
  height: 0;
}
.arrow-container::before {
  content: '';
  position: absolute;
  top: 28px; /* Adjust for alignment */
  left: -18px; /* Larger border dimensions */
  width: 0;
  height: 0;
  border-top: 12px solid transparent; /* Transparent top border */
  border-bottom: 12px solid transparent; /* Transparent bottom border */
  border-right: 18px solid #fffae0; /* Bright border color */
  z-index: 0; /* Behind the arrow */
}
.inner-arrow {
  position: absolute;
  top: 30px; 
  left: -15px; 
  width: 0;
  height: 0;
  border-top: 10px solid transparent; /* Transparent top border */
  border-bottom: 10px solid transparent; /* Transparent bottom border */
  border-right: 15px solid #fffbe6; /* Arrow background */
  z-index: 1; /* Above the border */
}
.arrow {
  position: absolute;
  top: 30%;
  right: -15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 15px;
  border-color: transparent transparent transparent rgb(222, 163, 13);
}
.vertical-line {
  width: 1px; /* Thickness of the line */
  height: 20px; /* Height of the line */
  background-color: black; /* Color of the line */
  margin-left: 8px;
  // margin: 10px; /* Optional: spacing around the line */
}
.table1-container {
  display: flex;
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: -10px;
}
.table1-section {
  width: 180px;
  background-color: #94c83d;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.table1 {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}
.table1 tr {
  border-bottom: 1px solid #ddd;
}
.table1 td {
  padding: 2.5px;
  font-size: 14px;
  justify-content: center;
  align-items: center; 
  border-right: 1px solid #ddd;
}
.check-icon {
  color: #e74c3c;
  font-size: 18px;
  margin-right: 8px;
  padding: 5px;
}
mat-icon {
  margin-left: 5px;
  font-size: 18px;
  color: rgb(0, 106, 255); 
  font-weight: bold;
  vertical-align: middle;
}
.t1-amt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  width: 200px; 
  background-color: #fff;
}
.t1-amt {
  text-align: center;
  margin-left: 20px;
  // width: 95px;
  color: red; 
  font-size: 16px; 
  font-weight: bold;
}
.top-box-amount {
  font-size: 26px;
  font-weight: 520;
  color: red;
  margin-top: 30px; /* Space above the amount */
  margin-left: -245px; /* Align with the left margin of the content */
}
.row {
  display: flex;
  max-width: 990px;
  align-items: center;
  gap: 5px;
  position: sticky;
  top: 27px; /* Adds spacing from the top of the viewport */
  z-index: 10;
  background: white; /* Ensures no transparency */
  // padding: 10px; /* Adds spacing around the content */
  // border: 1px solid #ddd; /* Optional border for clarity */
  box-sizing: border-box;
}

.table2 {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}
.table2-container {
  display: flex;
  border: 1px solid #f5958a;
  width: 100%;
  margin-top: -12px;
}
.table2-section {
  width: 175px;
  background-color: #eb824d;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.t2-inner-box1 {
  position: relative;
  border: 1px solid lightgray;
  background-color: #fffbe6;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  // border-radius: 5px;
  max-width: 350px;
  height: 60px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.5;
  align-content: center;
  // display: flex;  
} 
.table2 th,
.table2 td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ff7f50;
}
.table2-header {
  font-weight: bold;
  text-align: left;
  background-color: rgb(253, 247, 248);
}
.table2-sub-header {
  font-size: 14px;
  color: #555;
  margin-left: 5px;
}
.table2-sub-header-amt {
  text-align: left;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  color: red;
}
.t2-col2-amt {
  width: 100px;
  color: red;
  font-weight: bold;
}
.plus-icon {
  margin-left: 50%;
}
.top-btn {
  width: 260px;
  padding: 10px;
  margin-left: -3px;
  margin-top: 25px;
}
.table3 {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}
.table3-container {
  display: flex;
  border: 1px solid #f5958a;
  width: 100%;
  margin-top: -12px;
}
.table3-section {
  width: 175px;
  background-color: #eb824d;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.table3 th,
.table3 td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ff7f50;
}
.table3-header {
  font-weight: bold;
  width: 193px;
  text-align: left;
  background-color: rgb(253, 247, 248);
}
.table4 {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}
.table4-container {
  display: grid;
  border: 1px solid #e0e0e0;
  grid-template-columns: auto 1fr; /* Left sections auto-size, table takes remaining space */
  grid-auto-rows: auto; /* Rows adjust based on content */
  width: 100%;
  margin-top: -12px;
}
.table4-section {
  width: 145px;
  height: 135px;
  background-color: #45B3C0;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.table4 th,
.table4 td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
}
.table4-header {
  font-weight: bold;
  width: 210px;
  text-align: left;
}
.t4-amt {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  width: 90px;
}
.t4-r1-col3-grp {
  margin: 8px 0;
  display: flex;
  align-items: center;
}
.dotted-line {
  border-bottom: 2px dotted rgb(210, 204, 204); 
  width: 104%; 
  margin-left: -10px;
}
.t4-inner-box {
  position: relative;
  border: 1px solid lightgray;
  background-color: #fffbe6;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 350px;
  height: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.5;
  align-content: center;
} 
.table5 {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}
.table5-container {
  display: grid;
  border: 1px solid #e0e0e0;
  grid-template-columns: auto 1fr; /* Left sections auto-size, table takes remaining space */
  grid-auto-rows: auto; /* Rows adjust based on content */
  width: 100%;
  margin-top: -5px;
}
.table5-section {
  width: 145px;
  height: 170px;
  background-color: #539FDA;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.table5 th,
.table5 td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
}
.table5-header {
  font-weight: bold;
  width: 195px;
  text-align: left;
}
.table6 {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}
.table6-container {
  display: grid;
  border: 1px solid #e0e0e0;
  grid-template-columns: auto 1fr; /* Left sections auto-size, table takes remaining space */
  grid-auto-rows: auto; /* Rows adjust based on content */
  width: 100%;
  margin-top: -5px;
}
.table6-section {
  width: 145px;
  height: auto;
  padding: 10px;
  background-color: #887CCA;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.table6 th,
.table6 td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
}
.table6-header {
  font-weight: bold;
  width: 195px;
  text-align: left;
}
.table7 {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}
.table7 th,
.table7 td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
}
.table7-section {
  width: 195px;
  // padding: 5px;
  background-color: #F4A100;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.t7-inner-box {
  position: relative;
  border: 4px solid rgb(222, 163, 13);
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 625px;
  height: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.5;
  align-content: center;
  margin-bottom: 10px;
} 
.t8-image-row {
  width: 100%;
  display: flex;
  justify-content: center;
  // padding: 5px;
  box-sizing: border-box;
}
.botton-text-section {
  background-color: #EBEBEB;
  padding: 10px;
  font-size: 10px;
  border-radius: 8px;
  width: 970px;
  margin-top: 10px;
  line-height: 1.8;
  color: #333;
  margin-bottom: 20px;
}
.botton-text-section2 {
  background-color: #FFFCE7;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  width: 970px;
  margin-top: 30px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: center;  
}

.container {
  max-width: 990px;
  display: flex;
  gap: 20px; /* Adds 20px space between the two sections */
  // padding: 10px;
}

.hint-section, .faq-section {
  flex: 1;
  padding: 20px;
  border: 3px solid rgb(222, 163, 13);
  border-radius: 8px;
  background-color: #fffbea;
}

.hint-section h2, .faq-section h2 {
  color: rgb(85, 62, 53);;
  margin-bottom: 15px;
}

.contract-example, .checklist {
  margin-bottom: 20px;
}

.contract-example h3, .checklist h3 {
  background-color: #a59e8d;
  color: white;
  // padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.text {
  font-size: 12px;
}
.text p {
  margin: 5px 0; 
  font-size: 12px;
}
.highlight {
  color: #e64c22;
  font-weight: bold;
}
.faq-section a {
  color: #0073e6;
  text-decoration: underline;
  margin-left: 5px;
}
.faq-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.faq-link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
.icon {
  font-size: 26px; 
  color: #565759; 
  font-weight: bold;
}
.bottom-btn {
  display: flex;
  margin-top: 10px;
  margin-left: 370px;
}
.bottom-images {
  display: flex;
  max-width: 990px; 
  margin-top: 20px; 
  margin-bottom: 20px;
}
.quote-container {
  margin-top: 20px;
  border: 2px solid #c2bfbf;
  padding: 10px;
  border-radius: 8px;
  max-width: 965px;
  background-color: #fff;
}
.header {
  position: relative;
  height: auto;
  border: 1px solid rgb(243, 240, 240);
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  align-content: center;
}
.header .edit-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: underline;
}
.bottom-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.conditions-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr; /* 3 columns */
  // gap: 20px; /* spacing between columns */
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px; /* spacing between rows in each column */
}

