body {
  margin: 0;
  padding: 0;
}
.header-area-content {
  position: relative;
}
.header-area {
  background: #eead00;
  margin-top: -20px;
  min-width: 960px;
  width: 100%;
}
.header-area-content {
  width: 960px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}
.header-area-image-list {
  padding: 10px 0 8px;
  display: flex;
  align-items: center;
  gap: 5px; 
}
.header-area-image-list li {
  list-style: none;
  float: left;
  margin: 0;
}
.fiveminutes-img {
  position: absolute;
  right: 110px; 
  bottom: -80px;
  width: 111px;
  height: auto;
}
.fiveminutes-img img {
  width: 100%;
  height: auto;
  display: block;
}
.header-area-content:after {
  content: "";
  clear: both;
  display: block;
}

div.screen-one-container {
  max-width: 1120px;
  margin: 0px auto;
  // padding: 50px 20px;
  padding-top: 40px;
  margin-left: 140px;
}

div.screen-one-header {
  display: flex;
  size : 10px;
  margin: 40px 0px;
  margin-top: 0px;
  height:  auto;
}
.questionbadge {
  background-color: #e37026;
  color: #fff;              
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;  
  margin-top: 7px;       
  padding: 6px 12px;      
  display: inline-block;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  
}
.angular-logo {
  width: 70px;
  height: 70px;
}

li {
  margin-top: 30px;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: black;
  letter-spacing: initial;
}

.tablet {
  dxc-box {
    ul {
      margin-right: 100px;
    }
  }
}
.mobile {
  dxc-box {
    box-shadow: none;
  }
  ul {
    width: calc(50% - 20px);
    margin-right: 100px;
    padding-inline-start: 0px;
    padding-left: 20px;
    li:before {
      content: '\2022 ';
      color: #006BF6;
      padding-right: 0.5em;
    }
  }
}

.container-content {
  background: white;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px #cccccc;
}

.outer-box {
  width: 60%;
  background-color: #FFFFF0;
  float: left;
  zoom: 1;
}

.outer-box2 {
  background-color: #f6f6ef;
  margin-left: 20px;
}

.inner-box {
  flex-wrap: wrap;
  margin-top: 0px;
  width: 630px;
}

.inner-box2 {
  flex-wrap: wrap;
  width: 180px;
  height: 50px;
}

.inner-box3 {
  flex-wrap: wrap;
  margin-top: 15px;
  width: 630px;
  background-color: #edf3f5;
}
.img-ques1-heading {
  width: 30%;
  min-width: 358px;
  min-height: 26px;
  height: auto;
  margin-bottom: 35px;
.inner-box {
    flex-wrap: wrap;
    margin-top: 0px;
    // width: 630px;
  }
  margin-top: 10px;
}

.dotted-line {
  border-bottom: 2px dotted grey; 
    width: 100%; 
    margin: 10px 0;
}

.dateSelectOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 0px;
  margin-top: 10px;
}
.row {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dateSelectOptions label {
  width: 80px;
  text-align: right;
}
.dropdown {
  // padding: 5px;
  // background-color: #f9e6e6;
  // border: 1px solid #ccc;
  border-radius: 4px;
  width: 120px;
}


.dxc-select-dropdown {
  transform-origin: bottom center !important;
  animation: dropdown-open-upward 0.3s ease-in-out;
}

@keyframes dropdown-open-upward {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.inner-box2-label {
  font-size: 12px;
  margin-left: -15px;
  margin-top: -5px;
  margin-right: -15px;
}
.inner-box-link {
  font-size: 4px !important;
  margin-left: -15px;
  margin-top: 10px;
  margin-right: -15px;
}

.inner-box-btnimg {
  margin-left: -15px;
  margin-top: -15px;
  margin-right: -15px;
  width: 120%;
}
.inner-box2-label2 {
  font-size: 12px;
  margin-left: -15px;
  margin-top: 10px;
  margin-right: -15px;
  font-weight:normal;
}
.dotted-line2 {
  border-bottom: 2px dotted lightgray; 
    width: 120%; 
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
}
.custom-link {
  text-decoration: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  display: inline-flex;
  font-weight: normal;
  font-size: 12px;
}

.custom-link:hover {
  text-decoration: none;
  color: #df9a47;
}

.normal-text {
  font-size: 12px;
  font-weight: normal;
}

.prv-btn img {
  transition: opacity 0.3s ease, transform 0.3s ease; 
  cursor: pointer; 
}

.prv-btn img:hover {
  opacity: 0.7; 
  // transform: scale(1.05); /* Optionally scale up slightly */
}

.inner-box4 {
    flex-wrap: wrap;
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    // margin-left: -10px;
    background-color: #edf3f5;
}

.inner-box5 {
  flex-wrap: wrap;
  margin-top: 20px;
  width: 600px;
  padding: 15px;
  font-size: 15px;
  text-decoration: none;  
  cursor: pointer;
  display: inline-flex;
  background-color: #f8f8e9;
  border: 2px solid rgb(255, 119, 0);
  border-width: 3px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.inner-box5 .arrow {
  position: relative;
  top: -35px; /* Position the arrow just above the box */
  left: 60px; /* Adjust to align with checkbox text */
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 18px solid rgb(255, 111, 0);
}
.move-center {
  transform: translateX(220px);
}
.move-right {
  transform: translateX(440px);
}

.vertical-line {
  width: 1px; /* Thickness of the line */
  height: 100px; /* Height of the line */
  background-color: black; /* Color of the line */
  margin: 10px; /* Optional: spacing around the line */
}
.image-container {
  margin-top: 10px;
  position: relative;
  display: inline-block;
}

.q5-image4 {
  width: 630px;
  height: auto; /* Maintain aspect ratio */
}
.q5-image3 {
  position: absolute;
  width: 505px;
  height: 216px;
  top: 14px; 
  left: 14px; 
}
.q5-image2 {
  position: absolute;
  width: 307px;
  height: 190px;
  top: 27px; 
  left: 28px; 
}
.q5-image1 {
  position: absolute;
  height: 163px;
  top: 41px; 
  left: 41px;
}

.q5-b-image4 {
  width: 630px;
  height: auto; /* Maintain aspect ratio */
}
.q5-b-image3 {
  position: absolute;
  width: 485px;
  height: 308px;
  top: 14px; 
  left: 14px; 
}
.q5-b-image2 {
  position: absolute;
  width: 312px;
  height: 282px;
  top: 27px; 
  left: 28px; 
}
.q5-b-image1 {
  position: absolute;
  width: 110px;
  height: 255px;
  top: 41px; 
  left: 41px;
}

img {
  transition: opacity 0.3s ease;
}

.faint {
  opacity: 0.2;
}

.vertical-line {
  width: 2px; 
  background-color: lightgrey; 
  height: auto; 
  margin-left: 5px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0px;
}

.bottom-image-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  justify-items: center; 
  text-align: center;
}

.bottom-image-item p {
  margin-top: 5px;
  font-size: 10px;
}

.link {
  text-decoration: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  display: inline-flex;
  font-weight: normal;
  font-size: 12px;
}

.footer-links {
  text-decoration: none;
  color: #007bff;
  // text-decoration: underline;
  cursor: pointer;
  display: inline-flex;
  font-weight: normal;
  font-size: 12px;
}

mat-icon {
  font-size: 18px;
  color: rgb(0, 106, 255); 
  font-weight: bold;
  vertical-align: middle;
}

.warning-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  // margin-bottom: 20px;
  gap: 5px; /* Space between the icon and text */
}

.warning-icon {
  width: 48px; /* Matches the width of the image */
  height: 42px; /* Matches the height of the image */
  flex-shrink: 0;
}

.warning-text {
  font-size: 14px; /* Ensures balanced text size */
  color: #333;
  line-height: 1.5;
}

.grid-2-radiobtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.grid-2-item-radiobtn {
  border: 2px solid #d1d4d5;
  background-color: #f9d5d3;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 550;
  &:focus-within {
    border-color: orange; 
    background-color: #FFFFF0;
  }
  &:active {
    border-color: orange; 
    background-color: #FFFFF0;
  }
}
.grid-2-item-radiobtn label {
  flex: 1;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}
.grid-3-radiobtn {
  display: grid;
  // margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.grid-3-item-radiobtn {
  border: 2px solid #d1d4d5;
  background-color: #f9d5d3;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 550;
  &:focus-within {
    border-color: orange; 
    background-color: #FFFFF0;
  }
  &:active {
    border-color: orange; 
    background-color: #FFFFF0;
  }
}
.grid-3-item-radiobtn label {
  flex: 1;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}
.grid-3-sub-radiobtn {
  display: grid;
  // margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.grid-3-sub-item-radiobtn {
  border: 2px solid #d1d4d5;
  background-color: #f9d5d3;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  // font-weight: 550;
  &:focus-within {
    border-color: orange; 
    background-color: #FFFFF0;
  }
  &:active {
    border-color: orange; 
    background-color: #FFFFF0;
  }
}
.grid-3-sub-item-radiobtn label {
  flex: 1;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}
.grid-4-radiobtn {
  display: grid;
  // margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.grid-4-item-radiobtn {
  border: 2px solid #d1d4d5;
  background-color: #f9d5d3;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 550;
  &:focus-within {
    border-color: orange; 
    background-color: #FFFFF0;
  }
  &:active {
    border-color: orange; 
    background-color: #FFFFF0;
  }
}
.grid-4-item-radiobtn label {
  flex: 1;
  text-align: center;
  margin-left: 10px;
}
.down-arrow {
  position: absolute;
  margin-top: 153px;
  left: 40%;
  transform: translateX(-50%);
  width: 30px;
  height: 15px;
  background-color: #efe9e9;
  clip-path: polygon(50% 80%, 0 0, 100% 0);
  border-left: 1px solid thick #ccc;
  border-right: 1px solid thick #ccc;
  border-bottom: none;
  border-top: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.q5-list {
  list-style-type: none;
}
.q5-list ul {
  list-style-position: inside;
  margin: 0;
  padding-left: 0;
}
.q5-list li {
  margin: 0;
  padding: 0;
}
