/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/theme.scss";

.header-area-content{
    position:relative;
  }
  #correct .header-area-content {
    padding: 16px 0;
    position: relative;
  }
  .header-area{
    background:#eead00;
    margin-top: -20px;
    }
  .header-area-content{
    width:960px;
    height: 60px;
    margin:0 auto;
    margin-left: 120px;
    }
  .header-area-image-list{
    padding:10px 0 8px;
    }  
  #correct .header-area-image-list {
    float: left;
    width: 570px;
    padding:0;
    zoom:1;
    }  
  .header-area-image-list li{
    float:left;
    margin:0 5px 0 0;
    list-style:none;
    }  
  #correct .header-area-image-list li{
    margin-right:0;
    }
  .fiveminutes-img {
    position:absolute;
    right:108px;
    top:2px;
    }
  .header-area-content:after {
  content:"";
  clear:both;
  display:block;
  }
  